*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-drag: none;
    font-family: 'poppins';
}
  
  html{
    overflow-x: hidden;
  }
  
  #app{
    width: 100vw;
  }
  
  main{
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
  }
  
  header{
    position: fixed;
    top: 0;
    width: 100vw;
  }
  
  nav{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }
  
  nav .search-bar{
    display: flex;
    align-items: center;
  }
  
  nav .search-bar input[type='text']{
    height: 2.2rem;
    width: 30vw;
    outline: none;
    border-radius: 20px 0 0 20px;
    padding: 10px;
    border: 2px solid black;
    border-right: none;
  }
  
  nav .search-bar button{
    cursor: pointer;
    height: 2.2rem;
    width: 2.5rem;
    border-radius: 0 20px 20px 0;
    border: 2px solid black;
    border-left: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
  #logo{
    font-family: 'poppins';
    font-weight: 700;
    font-size: 2rem;
  }